@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  width: 8px;
}

/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
  background: #292929;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #484848;
}
